/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    /*background-color: #e5e5e5;*/
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MARGIN CLASSES */

/* left & right */
.mar-x0 {
    margin-left: 0 ;
    margin-right: 0 ;
}

.mar-x1 {
    margin-left: 10px;
    margin-right: 10px;
}

.mar-x2 {
    margin-left: 20px;
    margin-right: 20px;
}

.mar-x3 {
    margin-left: 30px;
    margin-right: 30px;
}

.mar-x4 {
    margin-left: 40px;
    margin-right: 40px;
}

.mar-x5 {
    margin-left: 50px;
    margin-right: 50px;
}

.mar-x6 {
    margin-left: 60px;
    margin-right: 60px;
}

.mar-x7 {
    margin-left: 70px;
    margin-right: 70px;
}

.mar-x8 {
    margin-left: 80px;
    margin-right: 80px;
}

.mar-x9 {
    margin-left: 90px;
    margin-right: 90px;
}

.mar-x10 {
    margin-left: 100px;
    margin-right: 100px;
}

/* top & bottom */
.mar-y0 {
    margin-top: 0 ;
    margin-bottom: 0 ;
}

.mar-y1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mar-y2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mar-y3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mar-y4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mar-y5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mar-y6 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mar-y7 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.mar-y8 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mar-y9 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.mar-y10 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mar-y12 {
    margin-top: 120px;
    margin-bottom: 120px;
}

/* top */
.mar-t0 {
    margin-top: 0;
}

.mar-t1 {
    margin-top: 10px;
}

.mar-t2 {
    margin-top: 20px;
}

.mar-t3 {
    margin-top: 30px;
}

.mar-t4 {
    margin-top: 40px;
}

.mar-t5 {
    margin-top: 50px;
}

.mar-t6 {
    margin-top: 60px;
}

.mar-t7 {
    margin-top: 70px;
}

.mar-t8 {
    margin-top: 80px;
}

.mar-t9 {
    margin-top: 90px;
}

.mar-t10 {
    margin-top: 100px;
}

.mar-t12 {
    margin-top: 120px;
}

/* bottom */
.mar-b0 {
    margin-bottom: 0;
}

.mar-b1 {
    margin-bottom: 10px;
}

.mar-b2 {
    margin-bottom: 20px;
}

.mar-b3 {
    margin-bottom: 30px;
}

.mar-b4 {
    margin-bottom: 40px;
}

.mar-b5 {
    margin-bottom: 50px;
}

.mar-b6 {
    margin-bottom: 60px;
}

.mar-b7 {
    margin-bottom: 70px;
}

.mar-b8 {
    margin-bottom: 80px;
}

.mar-b9 {
    margin-bottom: 90px;
}

.mar-b10 {
    margin-bottom: 100px;
}

.mar-b12 {
    margin-bottom: 120px;
}

/* PADDING CLASSES */

/* left & right */
.pad-x0 {
    padding-left: 0 ;
    padding-right: 0 ;
}

.pad-x1 {
    padding-left: 10px ;
    padding-right: 10px ;
}

.pad-x2 {
    padding-left: 20px ;
    padding-right: 20px ;
}

.pad-x3 {
    padding-left: 30px ;
    padding-right: 30px ;
}

.pad-x4 {
    padding-left: 40px ;
    padding-right: 40px ;
}

.pad-x5 {
    padding-left: 50px ;
    padding-right: 50px ;
}

.pad-x6 {
    padding-left: 60px ;
    padding-right: 60px ;
}

.pad-x7 {
    padding-left: 70px ;
    padding-right: 70px ;
}

.pad-x8 {
    padding-left: 80px ;
    padding-right: 80px ;
}

.pad-x9 {
    padding-left: 90px ;
    padding-right: 90px ;
}

.pad-x10 {
    padding-left: 100px ;
    padding-right: 100px ;
}

/* top & bottom */
.pad-y0 {
    padding-top: 0 ;
    padding-bottom: 0 ;
}

.pad-y1 {
    padding-top: 10px ;
    padding-bottom: 10px ;
}

.pad-y2 {
    padding-top: 20px ;
    padding-bottom: 20px ;
}

.pad-y3 {
    padding-top: 30px ;
    padding-bottom: 30px ;
}

.pad-y4 {
    padding-top: 40x ;
    padding-bottom: 40px ;
}

.pad-y5 {
    padding-top: 50px ;
    padding-bottom: 50px ;
}

.pad-y6 {
    padding-top: 60px ;
    padding-bottom: 60px ;
}

.pad-y7 {
    padding-top: 70px ;
    padding-bottom: 70px ;
}

.pad-y8 {
    padding-top: 80px ;
    padding-bottom: 80px ;
}

.pad-y9 {
    padding-top: 90px ;
    padding-bottom: 90px ;
}

.pad-y10 {
    padding-top: 100px ;
    padding-bottom: 100px;
}

.pad-y12 {
    padding-top: 120px ;
    padding-bottom: 120px;
}

/* top */
.pad-t0 {
    padding-top: 0;
}

.pad-t1 {
    padding-top: 10px;
}

.pad-t2 {
    padding-top: 20px;
}

.pad-t3 {
    padding-top: 30px;
}

.pad-t4 {
    padding-top: 40px;
}

.pad-t5 {
    padding-top: 50px;
}

.pad-t6 {
    padding-top: 60px;
}

.pad-t7 {
    padding-top: 70px;
}

.pad-t8 {
    padding-top: 80px;
}

.pad-t9 {
    padding-top: 90px;
}

.pad-t10 {
    padding-top: 100px;
}

.pad-t12 {
    padding-top: 120px;
}

/* bottom */
.pad-b0 {
    padding-bottom: 0;
}

.pad-b1 {
    padding-bottom: 10px;
}

.pad-b2 {
    padding-bottom: 20px;
}

.pad-b3 {
    padding-bottom: 30px;
}

.pad-b4 {
    padding-bottom: 40px;
}

.pad-b5 {
    padding-bottom: 50px;
}

.pad-b6 {
    padding-bottom: 60px;
}

.pad-b7 {
    padding-bottom: 70px;
}

.pad-b8 {
    padding-bottom: 80px;
}

.pad-b9 {
    padding-bottom: 90px;
}

.pad-b10 {
    padding-bottom: 100px;
}

.pad-b12 {
    padding-bottom: 120px;
}

.contain-img {
    object-fit: contain ;
    object-position: top;
    background: white;
}

/* ROTATE */
.rotate-cw {
    animation: rotateCW linear both;
    animation-timeline: view(10% 25%);
    animation-range: entry 0% entry 100%; 
}

@keyframes rotateCW {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(1deg);
  }
}

.rotate-ccw  {
    animation: rotateCCW linear both;
    animation-timeline: view(10% 25%);
    animation-range: entry 0% entry 100%; 
}

@keyframes rotateCCW {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

/* BEGIN CUSTOM CSS */
body {
   background: #ebf2f1;
   font-family: "DM Sans", Helvetica, Arial, sans-serif;
   line-height: 1.5em;
}

h1 {
    font-family: "DM Serif Display", Helvetica, Arial, sans-serif;
    font-size: 48px;
    line-height: 1em;
    color:#1B443D;
}

h2 {
    font-family: "DM Serif Display", Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 1em;
    color:#1B443D;
}

.sticky-logo {
    transform:translateY(-60px);
    transition: ease .5s;
}

.show-sticky-logo {
    transform:translateY(0px);
}

#nav-logo {
    background-color: #ebf2f1da;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1;
    height: 60px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ag-script-logo {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /*background-image: url(/assets/images/anthony-green-script-logo-green.svg);*/
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease .3s;
    display: inline-block;
    font-family: "professor", script;
    font-size: 36px;
    color: #1B443D;

}

.ag-script-logo:focus {
    outline: none;
    box-shadow: none;
}

#hero {
    width: 100vw;;
    height: 100vh;
    background-image: linear-gradient(#161c1bcc, #232d2b), url(/assets/images/homepage-hero.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}

#hero-text {
    font-family: "DM Serif Display", Helvetica, Arial, sans-serif;
    color: #EBF2F1;
    font-size: 36px;
    margin-top: auto;
}

#hero-text-large {
    font-family: "professor", script;
    color: #EBF2F1;
    font-size: 120px;
    margin-top: auto;
}

#hero-text span {
    visibility: hidden;
}

.hide-bg {
    opacity: 0;
}

.ag-script-logo:hover {
    text-decoration: none;
    color:#2D554E;
}

.down-arrow {
    position: absolute;
    top: 20px;
    right: -25px;
    animation: float 1.5s infinite;
    width: 60px;
    height: 60px;
    border-bottom: 10px solid #5cc7b5;
    border-right: 10px solid #5cc7b5;
    transform: rotateZ(45deg);
    transition: ease .3s;
    margin: auto;
}

@keyframes float {
    0% {
         margin-top: 0;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0;
    }
}

#intro-container {
    background-color: #232D2B;
    height: 200px;
}

#intro {
    max-width: 700px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 16px 32px rgb(75 109 103 / 25%);
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    bottom: -90px;
    align-items: center;
}

#intro-text {
    color: #1B443D;
    font-family: "DM Serif", script;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    width: 100%;
}

#intro-text span {
    text-decoration: underline dashed #5cc7b5 2px;
    text-underline-offset: 7px;
    font-weight: bold;
}

#intro-cta {
    color: #2D554E;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.site-container {
    max-width: 1440px;
    margin: auto;

}

/* PROJECT BOX STYLES */
#project-box-container {
    height: 100vh;

}

#project-box {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 16px 32px rgb(75 109 103 / 25%);
    display: flex;
}

#project-text {
    display: flex;
    flex-direction: column;
}

#project-cta {
    margin-top: auto;
}

#project-cta a {
    background-image: linear-gradient(#5cc7b5 0 0);
    background-position: 0 100%; 
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: 
    background-size ease 0.3s,
    background-position ease 0s 0.3s; 
    cursor: pointer;
    color: #2D554E;
    font-family: "professor", script;
    font-size: 30px;
    width: 100%;
    text-decoration: none;
}

#project-cta a:hover {
    background-position: 100% 100%; 
    background-size: 100% 2px;
}

.img-container {
    height: 100%;
    border-radius: 0 7px 7px 0;
}

#damascus-road {
    background-image: url(/assets/images/portfolio-imgs/damascus-road/dr-hifi.png);
}

#employee-promise {
    background-image: url(/assets/images/portfolio-imgs/canada-life/ep-in-situ-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#cafe-1847 {
    background-image: url(/assets/images/portfolio-imgs/cafe-1847/cup-apron-mockup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#compassion {
    background-image: url(/assets/images/portfolio-imgs/compassion/2022-annual-report-devices-1920x.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

#compassion {
    background-image: url(/assets/images/portfolio-imgs/compassion/2022-annual-report-devices-1920x.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: left;
}

#cccc {
    background-image: url(/assets/images/portfolio-imgs/cccc/cccc-membership-designs.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

#hmcs {
    background-image: url(/assets/images/portfolio-imgs/hmcs/hmcs-video-screenshot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#toromont {
    background-image: url(/assets/images/portfolio-imgs/toromont-cat/toromont-cat-portfolio-img-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* PARTNERS STYLES */
#partner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#partner-title {
    justify-content: center;
    margin: auto;
}

.logo-slider {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 3rem 0;
}

.logo-track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 60s linear infinite;
}
.logo-slider:before, .logo-slider:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.logo-slider:before{
    left: 0;
    background: linear-gradient(to right, #ebf2f1 0%, transparent 100%);
}

.logo-slider:after{
    right: 0;
    background: linear-gradient(to left, #ebf2f1 0%, transparent 100%);
}

.logo-track a {
    text-decoration: none !important;
}

.logo-track img {
    height: 85px;
    margin: 0 3rem;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.logo-track img:hover {
    transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* CONTACT STYLES */
#contact-container {
    background-color: #232D2B;
    height: 700px;
}
#contact-box {
    max-width: 900px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 16px 32px rgb(75 109 103 / 25%);
    left: 0;
    right: 0;
    top: -100px;
    margin: auto;
    position: relative;
    text-align: center;
}

#name-input, #email-input, #message {
    width: 100%;
}

#name-input, #email-input {
    padding: 10px;
    background-color: #ebf2f186;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: dashed 2px #90b7b086;
}

#name-input::placeholder, #email-input::placeholder {
    color: #90b7b0;
}

#name-input:focus, #email-input:focus {
    background-color: white;
    outline: none !important;
    transition: ease .3s;
}

#name-input:focus::placeholder, #email-input:focus::placeholder {
    color: transparent;
    transition: ease .3s;
}

#message {
    height: 200px;
    background-color: #ebf2f186;
    border: solid 2px #90b7b086;
    padding: 10px;
    transition: ease .3s;
}

#message::placeholder {
    color: #90b7b0;
}

#message:focus {
    outline: none !important;
    background-color: white;
    transition: ease .3s;
}

#message:focus::placeholder {
    color: transparent;
    transition: ease .3s;
}

#required {
    text-align: left;
    font-size: 14px;
    color:#454545;
}

#submit {
    cursor: pointer;
    background-color: #1B443D;
    padding: 10px 20px;
    border: none;
    color: #EBF2F1;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(#5cc7b5 0 0);
    background-size: 0% 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: 
    background-size ease 0.3s,
    background-position ease 0s 0.3s; /*change after the size immediately*/
}

#submit:hover {
    background-position: 100% 100%;
    background-size: 100% 100%;
}

/* PROJECT PAGE STYLES */
#project-page-description {
    margin: auto;
    max-width: 900px;
}

#project-list span {
    font-weight: bold;
    color: #1B443D;
}

#project-img-grid {
    margin: auto;
    max-width: 900px;
}

#project-img img {
    width: 100%;
    box-shadow: 0px 16px 32px rgb(75 109 103 / 25%);
    border-radius: 7px;
}

#project-img-95 img {
    width: 95%;
    box-shadow: 0px 16px 32px rgb(75 109 103 / 25%);
    border-radius: 7px;
}

#project-video {
    padding: 10px;
}
#project-video iframe {
    border-radius: 7px;
}

#left-col-text {
    padding-right: 30px;
}

.wrapper{
    position: relative;
    height: 500px;
    width: 900px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 16px 32px rgb(75 109 103 / 25%);
    border-radius: 7px;
}

.wrapper .images{
    height: 100%;
    width: 100%;
    display: flex;
}
.wrapper .images .img-1{
    height: 100%;
    width: 100%;
    background: url("/assets/images/portfolio-imgs/damascus-road/dr-homepage-new.png") no-repeat;
    background-size: cover;
}
.wrapper .images .img-2{
    position: absolute;
    height: 100%;
    width: 50%;
    /* filter: blur(5px); */
    background: url("/assets/images/portfolio-imgs/damascus-road/dr-homepage-old.png") no-repeat;
    background-size: cover;
}
.wrapper .slider{
    position: absolute;
    top: 0;
    width: 100%;

}
.wrapper .slider input{
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
}
.slider input::-webkit-slider-thumb{
    height: 486px;
    width: 3px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
}
.slider .drag-line{
    width: 3px;
    height: 486px;
    position: absolute;
    left: 49.85%;
    pointer-events: none;
}
.slider .drag-line::before,
.slider .drag-line::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 222px;
    background: #fff;
}
.slider .drag-line::before{
    top: 0;
}
.slider .drag-line::after{
    bottom: 0;
}
.slider .drag-line span{
    height: 42px;
    width: 42px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.slider .drag-line span::before,
.slider .drag-line span::after{
    position: absolute;
    content: "";
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
}
.slider .drag-line span::before{
    left: 40%;
    border-left-color: #fff;
}
.slider .drag-line span::after{
    left: 60%;
    border-top-color: #fff;
}


/* FOOTER STYLES */
#footer {
    text-align: center;
    background-color: #232D2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#human-declaration {
    color: #EBF2F1;
    font-family: "professor", script;
    font-size: 36px;
    font-style: italic;
    word-spacing: .05em;
    line-height: 1em;
    margin: auto;
}

#human-declaration span {
    text-decoration: underline dashed #5cc7b5 2px;
    text-underline-offset: 5px;
}

#copyright {
        color: #EBF2F1;
        font-size: 14px;
        margin: auto;
}

/* RESPONSIVE */

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 40px !important;
    }

    #hero-text-large {
        font-size: 55px !important;
    }

    h2 {
        font-size: 30px !important;
    }  

    #intro-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    #intro {
        bottom: 0px;
    }

    .site-container {
        padding: 30px;
    } 

    #project-text {
        padding: 30px;
        height: 50%;
    }

    #project-img {
        height: 50%;
        margin-top: auto;
    }

    .img-container {
    height: 100%;
    border-radius: 0 0 7px 7px;
    }

    #partner-title {
        text-align: center;
    }

    #contact-container {
        margin-top: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    #contact-box {
        padding: 30px;
    }

    #project-page-description {
        padding-top: 0;
    }

    #human-declaration {
        font-size: 30px;
    }
}
