/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pad-b4 {
    padding-bottom: 40px;
}


/* PAGE TRANSITION STYLES */

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* BEGIN CUSTOM CSS */

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.col {
    padding: 0 !important;
}

.col-md-8 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-12 {
    padding: 0 !important;
}


#personal-work-section {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    transition: ease .3s;
}

#main-content-wrapper {
    max-width: 980px;
    margin: auto;
}



/* PORTFOLIO STYLES */

#portfolio {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
    background: white;
    padding: 0px 50px 15px 50px;
    width: 100%;
}

#portfolio-content {
    margin-top: 60px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#portfolio-btn-container {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn {
    background-color: #d4d93e;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}

li a {
    color: #747474;
}

.active {
    background-color: #747474;
    color: white;
}

.btn:hover {
    background-color: #747474;
    color: white;
}

#portfolio-row {
    margin: auto;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.portfolio-img {
    max-width: 100%;
    padding: 5px !important;
    height: auto;
}

.portfolio-img img {
    background-size: cover;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.portfolio-img:hover img {
    opacity: 0.4;
}

.portfolio-img:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.img-description {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 35px;
}

.img-description h3 {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;

}

.thumbnail-icon {
    position: absolute;
    bottom: 30px;
    right: 20px;

}

.thumbnail-icon img {
    width: 16px;
    opacity: 1 !important;
}

/* LIGHTBOX MODAL STYLES */

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.modal-dialog {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}


.modal-square {
    max-width: 90vh !important;
}

.modal-body img {
    max-width: 100% !important;
}

.modal-header {
    border-bottom: none;
}


    .modal-dialog {
        max-width: 100%;
    }

    .modal-square {
        max-width: 90%;
    }


    #top-nav-wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
    }


    #main-content {
        margin-top: 0;
    }

    #portfolio-btn-container {
        padding-top: 30px;
    }

    #portfolio-descript {
        height: 200px;
        margin: 10px;
        padding-bottom: 40px;
    }




@media screen and (max-width: 605px) {
    #cl-insta {
        margin-top: -25px;
    }
}

@media screen and (max-width: 590px) {
    

    .middle {
        opacity: 1 !important;
    }

    .modal-square {
        max-width: 100%;
    }
}

@media screen and (max-width: 575px) {
    #personal-work-section {
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
        transition: ease .3s;
    }
}
