

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

#header-container {
    border-bottom: 1px solid #ccc;
    background: #666;
    background-image: url('../images/tetris-bg.svg');
    background-repeat: repeat;
    background-attachment: fixed;
}

#top-nav-wrapper {
    width: 100%;
    margin: auto;
    padding: 0px;
    background-color: #333;
    opacity: .7;
}

#top-nav-main {
    max-width: 870px;
    margin: auto;
}

#header-logo {
    margin: auto;
    text-align: center;
    padding: 30px 0 30px 0;
}

#header-logo img {
    max-width: 20%;
    opacity: .6;
}

#top-nav-title {
    padding: 0;
}

.navbar {
    margin: auto;
    text-align: center;
}

.navbar-brand {
    font-weight: bold;
    color: white;
    margin: auto;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

#top-nav-links {
    padding-top: 5px;
}

.nav-item a{
    color: white;
    font-weight: bold;
}

.nav-item a:hover{
    color: #e0e643;
    text-decoration: underline;
}

#h1-header {
    max-width: 870px;
    margin: auto;
    padding: 40px 5px 40px 5px;
    background: white;
    border-bottom: 2px solid #666;
}

#h1-container {
    margin: auto;
}

h1 {   
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #666;
    padding: 0px;
    margin-bottom: 0px;
}

#main-content {
    max-width: 980px;
    margin: auto; 
    margin-bottom: 100px;
}

#about-me {
    background: white;
    padding: 0px 30px 15px 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    float: left;
}

#about-me-content {
    padding: 25px;
}

#about-me-para {
    display: inline; 
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: .9rem;
    color: #666;
}

#about-me-para a {
    color: #666;
    text-decoration: underline;
}

#about-me-para a:hover {
    color: #d4d93e;;
}

#portfolio {   
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
    background: white;
    padding: 0px 50px 15px 50px;
    width: 100%;
}

#portfolio-item {
    background-color: #ccc;
    height: 350px;
    width: 100%;
    margin: 60px 10px 10px 10px;
    padding: 5px;
}

.portfolio-item-1 {
    background-image: url('../images/portfolio-imgs/01-flip-img.png');
    background-position: top;
    background-size: 650px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.portfolio-item-2 {
    background-image: url('../images/portfolio-imgs/02-train-tracker.png');
    background-position: top;
    background-size: 800px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.portfolio-item-3 {
    background-image: url('../images/portfolio-imgs/03-gif-a-tron.png');
    background-position: top;
    background-size: 650px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.portfolio-item-4 {
    background-image: url('../images/portfolio-imgs/04-quiz.png');
    background-position: top;
    background-size: 650px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.portfolio-item-5 {
    background-image: url('../images/portfolio-imgs/05-crystal-collector.png');
    background-position: top;
    background-size: 870px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.portfolio-item-6 {
    background-image: url('../images/portfolio-imgs/06-liri-bot.png');
    background-position: 0 0;
    background-size: 870px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.portfolio-item-7 {
    background-image: url('../images/portfolio-imgs/07-bamazon.png');
    background-position: 0 0;
    background-size: 870px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.portfolio-item-8 {
    background-image: url('../images/portfolio-imgs/08-buddyup-img.png');
    background-position: top;
    background-size: 830px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.portfolio-item-9 {
    background-image: url('../images/portfolio-imgs/09-property-pal.png');
    background-position: top;
    background-size: 830px;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

#portfolio-descript {
    height: 200px;
    margin: 60px 10px 10px 10px;
    padding-bottom: 40px;
    color: #666;
}

#portfolio-descript h3 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

#portfolio-descript p {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: .8rem;
    line-height: 1rem;
    color: #666;
}

#portfolio-descript a {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    color: #666;
}

#portfolio-descript a:hover {
    color: #d4d93e;
}


#contact {
    margin-top: 0px;
    background: white;
    padding: 0px 30px 15px 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}


#contact-content {
    padding-top: 20px;
    max-width: 600px;
    margin: auto;
}

#contact-info {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: .8rem;
    color: #666;
}

#contact-info img{
    margin-bottom: 40px;
}

#contact-info a{
    color: #666;
    font-size: 1.25rem;
}

#contact-info a:hover{
    color: #d4d93e;
}

/* form {
    padding: 0 25px 0 25px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #777;
    line-height: 24px;
    margin-bottom: 100px;
    width: 100%;
}

input {
    margin-top: 6px;
    margin-bottom: 20px;
    padding: 7px;
}

#name-input {
    border: 1px solid #ccc;
}

#email-input {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    margin-top: 5px;
    border: 1px solid #ccc;
}

#submit-btn {
    width: 100px;
    height: 40px;
    background: #d4d93e;
    border: none;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    font-weight: bold;
    float: right;
}

#submit-btn:hover {
    background: #e0e643;
}

#submit-btn:active { 
    background: #9fa32f;
    border: none;
} */

#universal-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    margin: auto 0;
    background:black;
    padding: 25px;
    opacity: .8;
}

.footer-content-top {
    text-align: center;
    margin-bottom: 15px;
}

.footer-content-top a {
    margin-left: 10px;
    margin-right: 10px;
}
.footer-content-bottom {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;

}
@media screen and (max-width: 767px) {
    #header-logo {
        margin: auto;
        text-align: center;
        padding: 10px 0 10px 0;
    }

    #header-logo img {
        max-width: 138px;
    }

    #top-nav-links {
        margin: auto;
        text-align: center;
    }

    #portfolio-descript {
        height: 200px;
        margin: 10px;
        padding-bottom: 40px;
    }

    #contact-info h5{
        font-size: 1rem;
    }

    #contact-info a{
        font-size: 1rem;
    }

    .justify-content-end {
        justify-content: center!important;
    }

}

