/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    /*background-color: #e5e5e5;*/
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pad-b4 {
    padding-bottom: 40px;
}


/* PAGE TRANSITION STYLES */

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* BEGIN CUSTOM CSS */
html {
    scroll-behavior: smooth;
}
.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

#section2 {
    padding-top: 160px;
    padding-left: 30px;
    padding-right: 30px;
    background: #F5F5F5;
}

/* NEW NAV STYLES */
.top-nav {
    height: 100px;
    width: 100%;
    background-color: #0b2332ec;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(10px);
    transition: all ease .3s;
}

.logo {
    padding-top: 15px;
    position: relative;
    z-index: 5;
}

.top-nav .ag-monogram {
    width: 100px;
    margin-left: 60px;
    background-image: url(/assets/images/ag-monogram-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    margin-bottom: -15px;
    transition: all ease .3s;
}
  
.top-nav #myLinks {
    display: none;
    background-color: #0B2332;
    animation: dropdown .3s ease;
}

@keyframes dropdown {
    0% {
       transform: translate(0px, -100px);
    }
}

.top-nav #myLinks a {
    color:#E9C46A;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav #myLinks a:hover {
    background-color: #E76F51;
    transition: .3s ease;
    color: #2F4858;
    text-decoration: none;
}

.top-nav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    height: 150px;
}


.top-nav a.menu {
    color: #E9C46A;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s ease;
    z-index: 10;
}
  
.top-nav .menu:hover {
    display: flex;
    align-items: center;
    background-color: #E76F51;
    color: #2F4858;
    transition: .3s ease;
}


/* HEADER STYLES */
.col {
    padding: 0 !important;
}

.col-md-8 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-12 {
    padding: 0 !important;
}

#header-text {
    margin: auto;
    text-align: left;
    min-height: 100vh;
    transition: all ease .3s;
}

#text-container {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

#text-container h1 {
    font-size: 14.5rem;
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: 900;
    font-style: normal;
    line-height: 48.5%;
    letter-spacing: -12px;
    padding-bottom: 60px;
}

#text-container h2 { 
    font-size: 4.75rem;
	color: white;
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 97px;
    letter-spacing: -2px;
    z-index: -2;
    
}

.home-text_1 {
    animation: hometext1;
}
  
.home-text_2 {
    animation: hometext2;
}

.home-text_3 {
    animation: hometext3;
}

.home-text_4 {
    animation: hometext4;
}

.about-text_1 {
    animation: abouttext1;
}
  
.about-text_2 {
    animation: abouttext2;
}

.about-text_3 {
    animation: abouttext3;
}

.about-text_4 {
    animation: abouttext4;
}

.about-text_5 {
    animation: abouttext5;
}

.contact-text_1 {
    animation: contacttext1;
}
  
.contact-text_2 {
    animation: contacttext2;
}

.contact-text_3 {
    animation: contacttext3;
}

.contact-text_4 {
    animation: contacttext4;
}

.h2text {
    position: absolute;
    left: 20px;
    bottom: -68px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation-duration: 25s;
    animation-timing-function: steps(23, end);
    animation-iteration-count: infinite;
    z-index: -2;
}

.about-text_5 {
    bottom: -130px;
}
  
span.h2text:after {
    content: " ";
    background-color: #7DC1B9;
    position: absolute;
    top: 20px;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: -1;
  }

.about-text_1:after, .about-text_2:after, .about-text_3:after, .about-text_4:after, .about-text_5:after {
    content: " ";
    background-color: #E76F51 !important;
    position: absolute;
    top: 20px;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: -1;
  }

  .contact-text_1:after, .contact-text_2:after, .contact-text_3:after, .contact-text_4:after {
    content: " ";
    background-color: #E9C46A !important;
    position: absolute;
    top: 20px;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: -1;
  }

@keyframes hometext4 {
    0%, 25%, 50%, 70%, 100% {
        width: 0;
    }
    
    75%, 95% {
        width: 7.75em;
    }
} 

@keyframes hometext3 {
    0%, 25%, 50%, 70%, 75%, 100% {
        width: 0;
    }
    
    55%, 65% {
        width: 8.25em;
    }
}
  
@keyframes hometext2 {
    0%, 25%, 50%, 100% {
        width: 0;
    }
    
    30%, 45% {
        width: 8.75em;
    }
}
  
@keyframes hometext1 {
    0%, 25%, 100% {
        width: 0;
    }
    5%, 20% {
        width: 7em;
    }
}

@keyframes abouttext5 {
    0%, 25%, 50%, 73%, 95%, 100% {
        width: 0;
    }
    
    77%, 93% {
        width: 5em;
    }
} 

@keyframes abouttext4 {
    0%, 25%, 50%, 70%, 100% {
        width: 0;
    }
    
    75%, 95% {
        width: 8.25em;
    }
} 

@keyframes abouttext3 {
    0%, 25%, 50%, 70%, 75%, 100% {
        width: 0;
    }
    
    55%, 65% {
        width: 3.25em;
    }
}
  
@keyframes abouttext2 {
    0%, 25%, 50%, 100% {
        width: 0;
    }
    
    30%, 45% {
        width: 5.75em;
    }
}
  
@keyframes abouttext1 {
    0%, 25%, 100% {
        width: 0;
    }
    5%, 20% {
        width: 5.25em;
    }
}

@keyframes contacttext4 {
    0%, 25%, 50%, 70%, 100% {
        width: 0;
    }
    
    75%, 95% {
        width: 7.5em;
    }
} 

@keyframes contacttext3 {
    0%, 25%, 50%, 70%, 75%, 100% {
        width: 0;
    }
    
    55%, 65% {
        width: 7em;
    }
}
  
@keyframes contacttext2 {
    0%, 25%, 50%, 100% {
        width: 0;
    }
    
    30%, 45% {
        width: 7.9em;
    }
}
  
@keyframes contacttext1 {
    0%, 25%, 100% {
        width: 0;
    }
    5%, 20% {
        width: 7em;
    }
}

.header-img-container {
    position: absolute;
    height: 100%;
    max-width: 100%;
    z-index: -10;
}

.header-bg-img-home {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    background: linear-gradient(to top, #0a7586, #40d2c138), url('/assets/images/homepage-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.header-bg-img-about {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    background: linear-gradient(to top, #0a7586, #40d2c138), url('/assets/images/about-me/about-me-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.header-bg-img-contact {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    background: linear-gradient(to top, #0a7586, #40d2c138), url('/assets/images/contact/contact-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.scroll-down-container {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 60px;
    margin: auto;
    transition: ease .2s;
}

.scroll-down-btn {
    transition: ease .2s;
    position: absolute;
    bottom: 50px;
    animation: float 1.5s infinite;
}

#down-arrow-container {
    position: absolute;
    bottom: 0;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.down-arrow-home {
    position: absolute;
    bottom: 60px;
    animation: jumpInfinite 1.5s infinite;
    z-index: 5;
    content: " ";
    left: 25px;
    width: 63px;
    height: 63px;
    border-bottom: 10px solid #E9C46A;
    border-right: 10px solid #E9C46A;
    border-radius: 3px;
    transform: rotateZ(45deg);
    transition: ease .3s;
}

.down-arrow-home:hover {
    cursor: pointer;
    border-color: #e76f51;
    transition: ease .3s;
}

.down-arrow-about {
    position: absolute;
    bottom: 60px;
    animation: jumpInfinite 1.5s infinite;
    z-index: 5;
    content: " ";
    left: 25px;
    width: 63px;
    height: 63px;
    border-bottom: 10px solid #7DC1B9;
    border-right: 10px solid #7DC1B9;
    border-radius: 3px;
    transform: rotateZ(45deg);
    transition: ease .3s;
 }

.down-arrow-about:hover {
    cursor: pointer;
    border-color: #E9C46A;
    transition: ease .3s;
}

.down-arrow-contact {
    position: absolute;
    bottom: 60px;
    animation: jumpInfinite 1.5s infinite;
    z-index: 5;
    content: " ";
    left: 25px;
    width: 63px;
    height: 63px;
    border-bottom: 10px solid #E76F51;
    border-right: 10px solid #E76F51;
    border-radius: 3px;
    transform: rotateZ(45deg);
    transition: ease .3s;
}

.down-arrow-contact:hover {
    cursor: pointer;
    border-color: #7DC1B9;
    transition: ease .3s;
}
 
@keyframes jumpInfinite {
    0% {
         margin-bottom: 0;
    }
    50% {
        margin-bottom: 20px;
    }
    100% {
        margin-bottom: 0;
    }
}

/* NEW PORTFOLIO STYLES */
#portfolio-content {
    justify-content: center;
}
.portfolio_item {
    margin: 0 15px 30px;
    overflow: hidden;
    background-color: gray;
    padding: 0;
}

.portfolio-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 350px;
}

.compassion {
    background-image: url('/assets/images/portfolio-imgs/compassion/compassion-portfolio-img-gray.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    transition: ease .3s;
}

.compassion:hover {
    background-image: url('/assets/images/portfolio-imgs/compassion/compassion-portfolio-img.jpeg');
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    transition: ease .3s;
}

.canada-life {
    background-image: url('/assets/images/portfolio-imgs/canada-life/canada-life-portfolio-img-gray.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
    transition: ease .3s;
}

.canada-life:hover {
    background-image: url('/assets/images/portfolio-imgs/canada-life/canada-life-portfolio-img.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
    transition: ease .3s;
}

.economical{
    background-image: url('/assets/images/portfolio-imgs/economical/economical-portfolio-img-gray.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    transition: ease .3s;
}

.economical:hover {
    background-image: url('/assets/images/portfolio-imgs/economical/economical-portfolio-img.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    transition: ease .3s;
}

.belwood{
    background-image: url('/assets/images/portfolio-imgs/belwood/belwood-portfolio-img-gray.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
    transition: ease .3s;
}

.belwood:hover {
    background-image: url('/assets/images/portfolio-imgs/belwood/belwood-portfolio-img.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
    transition: ease .3s;
}

.personal{
    background-image: url('/assets/images/portfolio-imgs/illustration/personal-work-portfolio-img-gray.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
    transition: ease .3s;
}

.personal:hover {
    background-image: url('/assets/images/portfolio-imgs/illustration/personal-work-portfolio-img.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
    transition: ease .3s;
}

.portfolio-item_link:hover i {
    animation: backAndForth 1.5s infinite;
}

@keyframes backAndForth {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: 5px;
    }
    100% {
      margin-left: 0;
    }
  }

.compassion:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #E76F51;
}

.compassion:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #E76F51;
}

.compassion:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #E76F51;
}

.canada-life:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #E9C46A;
}

.canada-life:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #E9C46A;
}

.canada-life:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #E9C46A;
}

.economical:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #183D55;
}

.economical:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #183D55;
}

.economical:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #183D55;
}

.belwood:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #7DC1B9;
}

.belwood:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #7DC1B9;
}

.belwood:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #7DC1B9;
}

.personal:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #1B443D;
}

.personal:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #1B443D;
}

.personal:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #1B443D;
}

.portfolio-item_link:hover .portfolio-item_bg {
    -webkit-transform: scale(6.5);
    -ms-transform: scale(6.5);
    transform: scale(6.5);
}

.portfolio-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    font-weight: 900;
    font-size: 48px;
    line-height: 35px;
    letter-spacing: -2px;
    max-width: 300px;
    padding-left: 10px;
    color: #FFF;
    z-index: 2;
    position: absolute;
    left: 20px;
    width: 400px;
    transition: ease .3s;   
}

.portfolio-item_cta-box {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #FFF;
    z-index: 2;
    position: absolute;
    font-weight: 700;
    width: 400px;
    left: 30px;
    bottom: 30px;
    transition: ease .3s;
}
  
.portfolio-item_cta {

    color: #F5F5F5;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.arrow {
    border: solid #F5F5F5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transition: ease .3s;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.portfolio-item_bg {
    height: 350px;
    width: 135px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: -135px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: .9;
 }

.compassion .portfolio-item_bg {
    background-color: #0B2332;
}
  
.canada-life .portfolio-item_bg {
    background-color: #1B443D;
}

.economical .portfolio-item_bg {
    background-color: #E9C46A;
}

.belwood .portfolio-item_bg {
    background-color: #183D55;
}

.personal .portfolio-item_bg {
    background-color: #7DC1B9;
}

.project-img-col {
    width: 100%;
    padding: 0;

}

.project-img {
    margin-bottom: 80px;
    mix-blend-mode: multiply;
}

.project-img img {
    width: 100%;
}

#cl-ep {
    margin-bottom: 45px;
}

#cl-insta {
    margin-top: -45px;
}

.project-img-border {
    margin-bottom: 80px;
}

.project-img-border img {
    width: 100%;
    border: 1px solid #ccc;
}

.final-img {
    margin-bottom: 0;
}

.img-caption {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}

.project-description {
    position: fixed;
    width: 200px;
    padding-left: 5px;
}

.project-description .unfixed {
    position: relative;
    width: 200px;
    padding-left: 5px;
}

video:focus {
    outline: none;
}

/* PROJECT PAGE STYLES */
#project-title {
    color: #203543;
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 30px;
}

.project-description-container {
    padding-top: 20px;
}

.project-description-container h2 {
    color: #E76F51;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#contact-form {
    width: 100%;
}

#main-content-wrapper {
    margin: auto;
    background: #F5F5F5;
}

/* ABOUT ME STYLES */
#h1-about {
    line-height: 160px !important;
}

#main-content {
    margin-bottom: 100px;
    margin-top: 0px;
    float: left;
    margin: auto;
}

.about-img img {
    width: 100%;
    border-radius: 100%;
}

#about-content-wrapper {
    margin: auto;
}

#content-para {
    padding-left: 40px;
}

#content-para p {
    font-weight: light;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: .9rem;
    margin-bottom: 30px;
}

#content-row {
    padding-bottom: 100px;
}

#about-me-content {
    padding-left: 40px;
    margin-bottom: 100px;
}

#about-me-content p {
    font-weight: light;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    line-height: 2.25em;
    font-size: .9rem;
    margin-bottom: 30px;
}

.inline-link {
    color: #212529;
    transition: .3s;
    text-decoration: underline;
}

.inline-link:hover {
    color: #E76F51;
    transition: .3s;
}

#content-para a {
    color: #212529;
    text-decoration: underline;
    transition: .3s ease;
}

#content-para a:hover {
    color: #E76F51;
    transition: .3s ease;
}

#about-me-col {
    justify-content: center;
    display: flex;
}

.portrait {
    background-image: url('/assets/images/about-me/1566827389414-bw.jpg');
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: ease .3s;
    margin-bottom: 60px;
}

.portrait:hover {
    background-image: url('/assets/images/about-me/1566827389414.jpg');
    background-size: cover;
    transition: ease .3s;
}

/* CONTACT PAGE STYLES */

#contact {
    background: white;
    padding: 0px 15px 0px 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

#contact-content-wrapper {
    margin: auto;
}

#contact-content {
    padding-top: 20px;
    max-width: 767px;
    margin-bottom: 60px;
}

#contact-info {
    text-align: left;
    margin-bottom: 60px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: .8rem;
    color: #747474;
}

#contact-info img {
    margin-bottom: 40px;
}

#contact-info a {
    color: #747474;
    font-size: 1.25rem;
}

form {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #747474;
    line-height: 24px;
    width: 100%;
    text-align: left;
    margin-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    width: 100%;
    display: block;
    margin-top: 6px;
    margin-bottom: 30px;
    padding: 7px 0;
}

input:focus {
    background-color: rgb(233, 233, 233);
    outline: none !important;
}

input:focus::placeholder {
    color: transparent;
}

#name-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

#email-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 7px;
    margin-bottom: 20px;
}

textarea:focus {
    background-color: rgb(233, 233, 233);
    outline: none !important;
}

textarea:focus::placeholder {
    color: transparent;
}

#submit {
    width: 100px;
    height: 40px;
    background-color: #E9C46A;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #212529;
    cursor: pointer;
    border-radius: 20px;
    transition: ease .2s;
}

#submit:hover {
    background: #E76F51;
    color: white;
    transition: ease .2s;
}

#submit:active {
    background: #9fa32f;
    border: none;
}

/* FOOTER STYLES */
#universal-footer {
    width: 100%;
    margin: auto 0;
    background: #0B2332;
    padding-top: 50px;
}

.footer-wrapper {
    width: 100%;
    margin: auto;
}

.footer-main {
    width: 100%;
    margin: auto;
}

.footer-quote-container {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-quote {
    color: #E76F51;
    line-height: 28px;
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-quote-credit {
    color: #E76F51;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 40px
}

.footer-content-top {
    margin: auto;
}

.footer-content-top a {
    transition: .5s ease;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #E9C46A;
}

.footer-content-top a:hover {
    text-decoration: none;
    opacity: 1;
    transition: .5s ease;
}

.footer-left {
    text-align: left;
    padding-left: 60px;
    display: flex;
    align-items: center;
}

.footer-left a {
    margin: 10px;
}

.footer-right {
    text-align: right;
    padding: 30px;
}

.email-link {
    color: #E9C46A;
    transition: .2s ease;
}

.email-link:hover {
    color: #E76F51;
    transition: .2s ease;
}

footer {
    width: 100%;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #F5F5F5;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 989px) {
    .compassion {
        background: url('/assets/images/portfolio-imgs/compassion/compassion-portfolio-img-gray.jpg');
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        transition: ease .3s;
    }
    
    .compassion:hover {
        background: url('/assets/images/portfolio-imgs/compassion/compassion-portfolio-img.jpeg');
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        transition: ease .3s;
    }
    
    .canada-life {
        background: url('/assets/images/portfolio-imgs/canada-life/canada-life-portfolio-img-gray.jpg');
        background-size: cover;
        background-position-x: right;
        background-position-y: center;
        transition: ease .3s;
    }
    
    .canada-life:hover {
        background: url('/assets/images/portfolio-imgs/canada-life/canada-life-portfolio-img.jpg');
        background-size: cover;
        background-position-x: right;
        background-position-y: center;
        transition: ease .3s;
    }
    
    .economical{
        background: url('/assets/images/portfolio-imgs/economical/economical-portfolio-img-gray.jpg');
        background-size: cover;
        background-position-x: left;
        background-position-y: top;
        transition: ease .3s;
    }
    
    .economical:hover {
        background: url('/assets/images/portfolio-imgs/economical/economical-portfolio-img.jpg');
        background-size: cover;
        background-position-x: left;
        background-position-y: top;
        transition: ease .3s;
    }
    
    .belwood{
        background: url('/assets/images/portfolio-imgs/belwood/belwood-portfolio-img-gray.jpg');
        background-size: cover;
        background-position-x: left;
        background-position-y: center;
        transition: ease .3s;
    }
    
    .belwood:hover {
        background: url('/assets/images/portfolio-imgs/belwood/belwood-portfolio-img.jpg');
        background-size: cover;
        background-position-x: left;
        background-position-y: center;
        transition: ease .3s;
    }
    
    .personal{
        background: url('/assets/images/portfolio-imgs/illustration/personal-work-portfolio-img-gray.jpg');
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        transition: ease .3s;
    }
    
    .personal:hover {
        background: url('/assets/images/portfolio-imgs/illustration/personal-work-portfolio-img.jpg');
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        transition: ease .3s;
    }
}

@media only screen and (max-width: 900px) {
    #text-container h1 {
        font-size: 25vw;
        padding-bottom: 7vw;
        letter-spacing: -9px;
    }
    #text-container h2 {
        font-size: 9.5vw;
        letter-spacing: -2px;
    }

    #h1-about {
        line-height: 17vw !important;
    }
}

@media only screen and (max-width: 767px) {
    #about-me-content {
        padding-left: 20px;
    }

    #contact-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-left {
        justify-content: center;
        padding: 0;
    }

    .footer-right {
        text-align: center;
    }
    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 575px) {
    .top-nav {
        height: 75px;
        transition: all ease .3s;
    }
    .top-nav .ag-monogram {
        margin-left: 10px; 
        width: 75px;
        height: 75px;
        transition: all ease .3s;
    }

    .top-nav a.menu {
        height: 75px;
        transition: all ease .3s;
    }

    #header-text {
        padding-bottom: 100px;
        transition: all ease .3s;
    }

    .down-arrow-home, .down-arrow-about, .down-arrow-contact {
        width: 45px;
        height: 45px;
        left: -10px;
        transition: ease .3s;
    }

    #section2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    #content-para {
        padding-left: 20px;
    }

    .project-img, .project-img-border {
        padding-left: 20px;
        padding-right: 20px;
    }
}