/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    /*background-color: #e5e5e5;*/
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pad-b4 {
    padding-bottom: 40px;
}

/* BEGIN CUSTOM CSS */
html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #edbc43d5;
    color: #232323;
}

.loader-container {
    background-color: #0b2332;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    position: fixed;
}

.loader {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.loaderText {
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    fill: #E76F51;
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 4.5px;
}

#rotatingLoader {
    animation-name: rotate-circle;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
}


.disppear{
    animation:vanish .5s forwards;
}

@keyframes vanish {
    100% {
        opacity:0;
        visibility:hidden;
    }
}

@keyframes rotate-circle {
    to {
       transform: rotate(1turn) ;
    }
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

#section2 {
    padding-top: 100px;
    background: #F5F5F5;
}

/* NEW NAV STYLES */
.top-nav {
    height: 100px;
    width: 100%;
    background-color: #0b2332;
    position: fixed;
    z-index: 10;
    transition: all ease .3s;
    display: flex;
    justify-content: center;
}

.logo {
    padding-top: 15px;
    padding-left: 0;
    position: relative;
    z-index: 5;
}

.top-nav .ag-monogram {
    width: 100px;
    background-image: url(/assets/images/ag-monogram-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    margin-bottom: -15px;
    transition: all ease .3s;
}
  
.top-nav #myLinks {
    display: none;
    position: absolute;
    top: 100px;
    background-color: #0b2332ec;
    animation: opacityFadeIn .3s ease;
    backdrop-filter: blur(10px);
    height: 100vh;
}

@keyframes opacityFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.nav-link {
    color: #7DC1B9;
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: relative;
    z-index: 10;
    transition: .3s ease;
}

.nav-link:hover {
    background-color: #E76F51;
    transition: .3s ease;
    color: #2F4858;
    text-decoration: none;
}

.top-nav a {
    padding: 14px 16px;
    text-decoration: none;

}

.menu {
    transition: .3s ease;
}

.top-nav a.menu {
    color: #E9C46A;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s ease;
    z-index: 10;
}
  
.top-nav .menu:hover {
    display: flex;
    align-items: center;
    background-color: #E76F51;
    color: #2F4858;
    transition: .3s ease;
}

/* SUBMENU STYLES */
.sub-menu {
    display: none;
    animation: dropdown .3s ease;
}

.sub-nav-link {
    color: #7DC1B9;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

.sub-nav-link:hover {
    background-color: #E76F51;
    transition: .3s ease;
    color: #2F4858;
    text-decoration: none;
}

@keyframes dropdown {
    0% {
       transform: translate(0px, -100px);
    }
}



/* HEADER STYLES */
.col {
    padding: 0 !important;
}

.col-md-8 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-12 {
    padding: 0 !important;
}

#header-text {
    margin: auto;
    text-align: left;
    min-height: 100vh;
    transition: all ease .3s;
}

#text-container {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
    top: -60px;
}

#text-container h1 {
    font-size: 14.5rem;
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    color: #E76F51;
    font-weight: 900;
    font-style: normal;
    line-height: 48.5%;
    letter-spacing: -12px;
    padding-bottom: 60px;
}

#text-container h2 { 
    font-size: 4.75rem;
	color: #7DC1B9;
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 104px;
    letter-spacing: -2px;
    z-index: -2;
    
}

.home-text_1 {
    animation: hometext1;
}
  
.home-text_2 {
    animation: hometext2;
}

.home-text_3 {
    animation: hometext3;
}

.home-text_4 {
    animation: hometext4;
}

.about-text_1 {
    animation: abouttext1;
}
  
.about-text_2 {
    animation: abouttext2;
}

.about-text_3 {
    animation: abouttext3;
}

.about-text_4 {
    animation: abouttext4;
}

.about-text_5 {
    animation: abouttext5;
}

.contact-text_1 {
    animation: contacttext1;
}
  
.contact-text_2 {
    animation: contacttext2;
}

.contact-text_3 {
    animation: contacttext3;
}

.contact-text_4 {
    animation: contacttext4;
}

.h2text {
    position: absolute;
    bottom: -68px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation-duration: 25s;
    animation-timing-function: steps(23, end);
    animation-iteration-count: infinite;
    z-index: -2;
}

.about-text_5 {
    bottom: -130px;
}
  


@keyframes hometext4 {
    0%, 25%, 50%, 70%, 100% {
        width: 0;
    }
    
    75%, 95% {
        width: 7.75em;
    }
} 

@keyframes hometext3 {
    0%, 25%, 50%, 70%, 75%, 100% {
        width: 0;
    }
    
    55%, 65% {
        width: 8.25em;
    }
}
  
@keyframes hometext2 {
    0%, 25%, 50%, 100% {
        width: 0;
    }
    
    30%, 45% {
        width: 8.75em;
    }
}
  
@keyframes hometext1 {
    0%, 25%, 100% {
        width: 0;
    }
    5%, 20% {
        width: 7em;
    }
}

@keyframes abouttext5 {
    0%, 25%, 50%, 73%, 95%, 100% {
        width: 0;
    }
    
    77%, 93% {
        width: 5em;
    }
} 

@keyframes abouttext4 {
    0%, 25%, 50%, 70%, 100% {
        width: 0;
    }
    
    75%, 95% {
        width: 8.25em;
    }
} 

@keyframes abouttext3 {
    0%, 25%, 50%, 70%, 75%, 100% {
        width: 0;
    }
    
    55%, 65% {
        width: 3.25em;
    }
}
  
@keyframes abouttext2 {
    0%, 25%, 50%, 100% {
        width: 0;
    }
    
    30%, 45% {
        width: 5.75em;
    }
}
  
@keyframes abouttext1 {
    0%, 25%, 100% {
        width: 0;
    }
    5%, 20% {
        width: 5.25em;
    }
}

@keyframes contacttext4 {
    0%, 25%, 50%, 70%, 100% {
        width: 0;
    }
    
    75%, 95% {
        width: 7.5em;
    }
} 

@keyframes contacttext3 {
    0%, 25%, 50%, 70%, 75%, 100% {
        width: 0;
    }
    
    55%, 65% {
        width: 7em;
    }
}
  
@keyframes contacttext2 {
    0%, 25%, 50%, 100% {
        width: 0;
    }
    
    30%, 45% {
        width: 7.9em;
    }
}
  
@keyframes contacttext1 {
    0%, 25%, 100% {
        width: 0;
    }
    5%, 20% {
        width: 7em;
    }
}

.header-img-container {
    position: absolute;
    height: 100%;
    max-width: 100%;
    z-index: -10;
}

.header-bg-img-home {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    background: linear-gradient(to top, #0f2a39, #0f2a39d3), url('/assets/images/homepage-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.header-bg-img-about {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    background: linear-gradient(to top, #0f2a39, #0f2a39d3), url('/assets/images/about-me/about-me-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.header-bg-img-contact {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    background: linear-gradient(to top, #0f2a39, #0f2a39d3), url('/assets/images/contact/contact-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.scroll-down-container {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 60px;
    margin: auto;
    transition: ease .2s;
}

.scroll-down-btn {
    transition: ease .2s;
    position: absolute;
    bottom: 50px;
    animation: float 1.5s infinite;
}

#down-arrow-container {
    position: absolute;
    bottom: 0;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.down-arrow {
    position: absolute;
    bottom: 60px;
    animation: jumpInfinite 1.5s infinite;
    z-index: 5;
    content: " ";
    left: 25px;
    width: 63px;
    height: 63px;
    border-bottom: 10px solid #E9C46A;
    border-right: 10px solid #E9C46A;
    border-radius: 3px;
    transform: rotateZ(45deg);
    transition: ease .3s;
}

.down-arrow:hover {
    cursor: pointer;
    border-color: #e76f51;
    transition: ease .3s;
}
 
@keyframes jumpInfinite {
    0% {
         margin-bottom: 0;
    }
    50% {
        margin-bottom: 20px;
    }
    100% {
        margin-bottom: 0;
    }
}

/* NEW PORTFOLIO STYLES */
#home-content {
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 100px;
}
.portfolio_item {
    margin: 0 15px 30px;
    overflow: hidden;
    background-color: gray;
    padding: 0;
}

.portfolio-item_link {
    display: block;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 350px;
}

.portfolio-item-img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: ease .3s;
    opacity: .6;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#compassion-portfolio-img {
    height: auto !important;
}

.portfolio-item_link:hover > .portfolio-item-img {
    filter: none;
    -webkit-filter: grayscale(0);
    opacity: 1;
    transition: ease .3s;
}

.portfolio-item_link:hover i {
    animation: backAndForth 1.5s infinite;
}

@keyframes backAndForth {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: 5px;
    }
    100% {
      margin-left: 0;
    }
  }

.compassion:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #E76F51;
}

.compassion:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #E76F51;
}

.compassion:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #E76F51;
}

.canada-life:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #E9C46A;
}

.canada-life:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #E9C46A;
}

.canada-life:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #E9C46A;
}

.cafe1847:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #2F4858;
}

.cafe1847:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #2F4858;
}

.cafe1847:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #2F4858;
}

.economical:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #183D55;
}

.economical:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #183D55;
}

.economical:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #183D55;
}

.belwood:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #7DC1B9;
}

.belwood:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #7DC1B9;
}

.belwood:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #7DC1B9;
}

.personal:hover .portfolio-item_title {
    text-decoration: none;
    transition: ease .3s;
    color: #1B443D;
}

.personal:hover .portfolio-item_cta-box {
    text-decoration: none;
    transition: ease .3s;
    color: #1B443D;
}

.personal:hover i {
    text-decoration: none;
    transition: ease .3s;
    border-color: #1B443D;
}

.portfolio-item_link:hover .portfolio-item_bg {
    -webkit-transform: scale(6.5);
    -ms-transform: scale(6.5);
    transform: scale(6.5);
}

.portfolio-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    font-weight: 900;
    font-size: 48px;
    line-height: 35px;
    letter-spacing: -2px;
    max-width: 300px;
    padding-left: 10px;
    padding-top: 30px; 
    color: #FFF;
    z-index: 2;
    position: absolute;
    left: 20px;
    width: 400px;
    height: 130px;
    transition: ease .3s;  
}

.portfolio-item_cta-box {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #FFF;
    z-index: 2;
    position: absolute;
    font-weight: 700;
    width: 400px;
    left: 30px;
    bottom: 30px;
    transition: ease .3s;
}
  
.portfolio-item_cta {

    color: #F5F5F5;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.arrow {
    border: solid #F5F5F5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transition: ease .3s;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.portfolio-item_bg {
    height: 350px;
    width: 135px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: -135px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: .9;
 }

.compassion .portfolio-item_bg {
    background-color: #0B2332;
}
  
.canada-life .portfolio-item_bg {
    background-color: #1B443D;
}

.cafe1847 .portfolio-item_bg {
    background-color: #E76F51;
}

.economical .portfolio-item_bg {
    background-color: #E9C46A;
}

.belwood .portfolio-item_bg {
    background-color: #183D55;
}

.personal .portfolio-item_bg {
    background-color: #7DC1B9;
}


.project-img-col {
    width: 100%;
    padding: 0;

}

.project-img {
    margin-bottom: 100px;
    mix-blend-mode: multiply;
    padding-left: 30px;
    padding-right: 15px;
}
#belwood-old-logo img {
    display: flex;
    margin: auto;
    max-width: 500px;
}

.project-img img {
    width: 100%;
}

#cl-insta {
    margin-top: -45px;
}

.project-img-border {
    margin-bottom: 100px;
}

.project-img-border img {
    width: 100%;
    border: 1px solid #ccc;
}

.final-img {
    margin-bottom: 0;
}

.img-caption {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
    text-align: center;
}

.project-description {
    position: fixed;
    width: 200px;
    padding-left: 5px;
}

.project-description .unfixed {
    position: relative;
    width: 200px;
    padding-left: 5px;
}

.project-info p {
    font-size: 1rem !important;
    line-height: 2rem !important;
}

video:focus {
    outline: none;
}
.project-header {
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: -6px;
    line-height: 75px;
    color:#E76F51;
    margin-bottom: 50px;
    padding-top: 100px;
}

/* PROJECT PAGE STYLES */
#project-title {
    color: #2F4858;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 40px;
}

.project-description-container {
    padding-top: 20px;
}

.project-description-container h3 {
    color: #2F4858;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

#contact-form {
    width: 100%;
}

#main-content-wrapper {
    margin: auto;
    background: #F5F5F5;
}

/* ABOUT ME STYLES */
#h1-about {
    line-height: 160px !important;
}

#main-content {
    margin-bottom: 100px;
    margin-top: 0px;
    float: left;
    margin: auto;
    padding-left: 0;
}

.about-img img {
    width: 100%;
    border-radius: 100%;
}

#about-content-wrapper {
    margin: auto;
}

#content-para {
    padding-left: 0px;
}

#content-para p {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    line-height: 2.5rem;
    font-size: 1.25rem;
    margin-bottom: 30px;
    color: #4f4f4f;
}

#content-row {

    justify-content: center;
}

#about-me-content {
    margin-bottom: 100px;
    padding-top: 20px;
}

#about-me-content p {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    line-height: 2.5rem;
    font-size: 1.25rem;
    margin-bottom: 30px;
    color: #4f4f4f;
}

.inline-link {
    color: #E76F51;
    font-weight: bold;
    transition: .3s;
    text-decoration: underline;
}

.inline-link:hover {
    color: #E9C46A;
    transition: .3s;
}

#about-me-col {
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

.portrait {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-image: url('/assets/images/about-me/1566827389414.jpg');
    background-size: cover;
    min-width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: ease .3s;
    margin-bottom: 60px;
}

.portrait:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: ease .3s;
}

/* CONTACT PAGE STYLES */

#contact {
    background: white;
    padding: 0px 15px 0px 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

#contact-content-wrapper {
    margin: auto;
}

#contact-content {
    padding-top: 20px;
    max-width: 700px;
    margin-bottom: 60px;
}

#contact-info {
    text-align: left;
    margin-bottom: 60px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: .8rem;
    color: #747474;
}

#contact-info img {
    margin-bottom: 40px;
}

#contact-info a {
    color: #747474;
    font-size: 1.25rem;
}

form {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #747474;
    line-height: 24px;
    width: 100%;
    text-align: left;
    margin-bottom: 100px;
}

input {
    width: 100%;
    display: block;
    margin-top: 6px;
    margin-bottom: 30px;
    padding: 7px 0;
}

#name-input::placeholder {
    opacity: .75;
}

#email-input::placeholder {
    opacity: .75;
}

input:focus {
    background-color: rgb(233, 233, 233);
    outline: none !important;
}

input:focus::placeholder {
    color: transparent;
    transition: ease .2s;
}

#name-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dashed #ccc;
    padding-left: 10px;
    background: none;
    font-size: 1.25rem;
    color: #4f4f4f;
}

#email-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dashed #ccc;
    padding-left: 10px;
    background: none;
    font-size: 1.25rem;
    color: #4f4f4f;
}

textarea {
    width: 100%;
    min-height: 150px;
    margin-top: 5px;
    border: 2px solid #ccc;
    padding: 7px;
    margin-bottom: 60px;
    font-size: 1.25rem;
    background: none;
    transition: ease .2s;
    color: #4f4f4f;
}

textarea::placeholder {
    font-size: 1.25rem;
    opacity: .75;
    transition: ease .2s;
}

textarea:focus {
    background-color: rgb(255, 255, 255);
    outline: none !important;
    transition: ease .3s;
}

textarea:focus::placeholder {
    color: transparent;
}

#submit {
    width: 150px;
    height: 50px;
    background-color: #E9C46A;
    border: none;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #212529;
    cursor: pointer;
    transition: ease .2s;
}

#submit:hover {
    background: #E76F51;
    color: white;
    transition: ease .2s;
}

/* FOOTER STYLES */
#universal-footer {
    width: 100%;
    margin: auto 0;
    background: #0B2332;
    padding-top: 50px;
}

.footer-wrapper {
    width: 100%;
    margin: auto;
}

.footer-main {
    width: 100%;
    margin: auto;
}

.footer-quote-container {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-quote {
    color: #E76F51;
    line-height: 28px;
    font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-quote-credit {
    color: #E76F51;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 40px
}

.footer-content-top {
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content-top a {
    transition: .5s ease;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #E9C46A;
    margin: 10px;
}

.contact-icon {
    width: 32px;
    fill: #F5F5F5;
    transition: .3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dribbble:hover {
    fill: #EA4C89;
}

#linkedin:hover {
    fill: #0077B5;
}

#email:hover {
    fill: #E9C46A;
}

.contact-icon:hover {
    margin-bottom: 10px;
    transition: .3s ease;
    margin-top: 0px
}

.footer-content-top a:hover {
    text-decoration: none;
    opacity: 1;
    transition: .5s ease;
}

.footer-left {
    text-align: left;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.footer-left a {
    margin: 10px;
}

.footer-right {
    text-align: right;
    padding: 30px;
}

.email-link {
    color: #E9C46A;
    transition: .2s ease;
}

.email-link:hover {
    color: #E76F51;
    transition: .2s ease;
}

footer {
    width: 100%;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #7DC1B9;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 900px) {
    #text-container h1 {
        font-size: 25vw;
        padding-bottom: 7vw;
        letter-spacing: -9px;
    }
    #text-container h2 {
        font-size: 9.5vw;
        letter-spacing: -2px;
    }

    #h1-about {
        line-height: 17vw !important;
    }
}

@media only screen and (max-width: 767px) {

    .footer-left {
        justify-content: center;
        padding: 0;
    }

    .footer-right {
        text-align: center;
    }
    footer {
        text-align: center;
    }
}
@media only screen and (max-width: 1200px) {
    .portfolio-item-img {
        height: 100%;
        top: 0;
    }

    #compassion-portfolio-img {
        height: 100% !important;
    }

    #cl-portfolio-img {
        object-position: right;
    }

}

@media only screen and (max-width: 575px) {
    #main-content {
        padding-left: 15px;
        padding-right: 15px
    }

    .top-nav {
        height: 75px;
        transition: all ease .3s;
    }
    .top-nav .ag-monogram {
        margin-left: 20px; 
        width: 75px;
        height: 75px;
        transition: all ease .3s;
    }

    .top-nav a.menu {
        height: 75px;
        transition: all ease .3s;
    }

    .top-nav #myLinks {
        top: 75px;
    }

    #text-container {
        padding-left: 20px;
    }

    #text-container h1 {
        letter-spacing: -5px;
    }

    #header-text {
        padding-bottom: 100px;
        transition: all ease .3s;
    }

    .down-arrow {
        width: 45px;
        height: 45px;
        left: -10px;
        transition: ease .3s;
    }

    .project-header {
        font-size: 60px;
        line-height: 50px;
        letter-spacing: -3px;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    .img-caption {
        font-size: 11px;
        line-height: 15px;
    }

    #about-me-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #contact-content, form {
        padding-left: 10px;
        padding-right: 10px;
    }

    #section2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    #content-para {
        padding-left: 0px;
    }

    .project-img, .project-img-border {
        padding-left: 20px;
        padding-right: 20px;
    }
}